.detail {
    background-color: #fff;
    color: #333;
}

.detailNavbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background: transparent;
    background: rgba( 0, 0, 0, .2);
    z-index: 2;
    span {
        color: #fff
    }
}

p {
    margin: 0;
}

.detailCarousel {
    img {
        width: 100%;
        height: 252px;
        vertical-align: top;
    }
}


.item {
    padding: 20px 0;
    border-bottom: solid 1px #e1e1e1;
}
.detailContent {
    padding: 20px 15px;
    .titleWrap {
        .detailTitle {
            font-size: 18px;
        }
        .detailTags {
            margin-top: 10px;
            span {
                padding: 2px 4px;
                background-color: #e1f5f8;
                font-size: 12px;
                color: #48c3d0
            }
        }
    }

    .houseInfo {
        display: flex;
        justify-content: space-between;
        padding: 20px 5%;
        .infoItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                &:first-child {
                    font-size: 18px;
                    font-weight: 600;
                    color: #fa5741;
                    span {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                &:last-child {
                    margin-top: 10px;
                    color: #999999
                }
            }
        }
    }

    .houseDesc {
        display: flex;
        flex-wrap: wrap;
        border: none;
        .descItem {
            width: 50%;
            font-size: 14px;
            span {
                color: #999999;
            }
            &:nth-child(-n+2) {
                margin-bottom: 10px;
            }
        }
    }
}

/* 配套 */
.housePT {
    border-top: 12px solid #f6f5f6;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 15px;
    .housePTTitle {
        width: 100%;
        font-size: 16px;
        font-weight:600;
        line-height: 50px;
        border-bottom: solid 2px #e7e7e7;
    }
    .iconItem {
        width: 16.66666%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        i {
            margin-bottom: 5px;
            font-size: 22px;
        }
    }
}

/* 房源概况 */
.houseCondition {
    padding: 0 10px 15px;
    border-top: solid 12px #f6f5f6;
    .conditionTitle {
        font-size: 16px;
        font-weight:600;
        line-height: 50px;
        border-bottom: solid 2px #e7e7e7;
    }
    .conditionContent {
        .houseOwnerWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 66px;
            padding: 12px 0;
            .houseOwner {
                display: flex;
                align-items: center;
                img {
                    width: 55px;
                    height: 55px;
                    vertical-align: top;
                }
                .houseNameAndAuth {
                    margin-left: 10px;
                    p {
                        &:last-child {
                            margin-top: 10px;
                            font-size: 12px;
                            color: #fa634e;
                        }
                    }
                }
            }
            .contactOwner {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 28px;
                width: 78px;
                margin-right: 10px;
                color: #7ad4af;
                border: solid 1px #7ad4af;
                cursor: pointer;
            }
        }
        .conditionDesc {
            line-height: 25px;
        }
    }
}


/* 位置 */
.location {
    border-top: 12px solid #f6f5f6;
    border-bottom: 60px solid #fff;
    .locationTitle {
        padding: 12px;
    }
    .locationMap {
        width: 100%;
        height: 160px;
    }
}

/* 底部导航 */
.subNav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: solid 1px #d6d6d6;
    .subNavItem {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #a2a2a2;
    }
    .toCollect {
        img {
            margin-right: 5px;
            width: 17px;
            height: 17px;
            vertical-align: top;
        }
    }
    .toContact {
        border-left: solid 1px #ededee;
        border-right: solid 1px #ededee;
    }
    .toCall {
        background: #21b97a;
        color: #fff;
    }
}

/* 无数据 */
.noneData {
    padding-top: 12px;
    font-size: 16px;
}